.container {
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

.flex-box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flex-box-container div {
  display: flex;
  padding: 10px;
  align-items: center;
}
 
.flex-box-container img {
  margin: 10px;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.7);
}